body{
    margin:0;
    padding:0;
}
header{
    font-family:Georgia, serif;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-collapse: collapse; /* Les bordures du tableau sont collées (plus joli) */
}
th{
    color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}
td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}
tr:nth-child(odd){
    background-color: #8BC34A ;
}

#Add{
    position: absolute;
    left: 25%;
    padding-top: 10px;
}

#Retour{
    position: absolute;
    right: 25%;
    padding-top: 10px;
}

#FormulaireForum{
    position: absolute;
    right: 25%;
    padding-top: 10px;
    background-color: #8BC34A;
}

a {
	color : gray;
	text-decoration-line: underline;
        font-style: italic;
	vertical-align: left;
}
