body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, serif;
}

header{
    font-family:Arial, Helvetica, serif;
}

p {
   margin-left: 30px;
   color:  solid black;
   font-size : 30px;
   font-weight: bold;
   
}
table{
    margin: auto;
    border-radius: 30px;
    border-collapse: collapse; 
}

th{
    color: 1px solid black;
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}
td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}


th:first-child {
	background: #A7D489;
	color: white;
	font-weight: bold;
        border: 1px solid black;
}
td:first-child { 	
	text-decoration-line: underline;
	background: #A7D489;
	color: white;
	font-weight: bold;
        border: 1px solid black; 
}



#elem1
{ 
 position: absolute;
 top: 15%;
 left: 15%;
  
}

#seq
{
 position: absolute;
 top: 20%;
 left: 10%;
 padding-top: 500px; 
}


#img
{
 position: absolute;
 top: 10% ;
 right: 10% 
}

#blast
{
 position: absolute;
 top: 58% ;
 right: 5%;
 background: #A7D489;
 padding : 50px 80px 50px 80px;
 border-radius: 15px;
 border: 1px solid #018FD1 ;
 text-align: left;
}


#Database
{
 border-radius: 10px;
 position: absolute;
 top: 99% ;
 right: 15%;
}


#fenetre {
   text-align: center;
   border-width: 2px
}

#textFentre {
 display: block;
 text-align: left;
 position: absolute;
 left:4%;
 right:4%;
 border: 1px solid black; 
 border-width: 1px;
}

.btn { 
color : white; 
height: 50px; 
width: 150px; 
} 

a {
        color : gray;
        position: absolute;
	text-decoration-line: underline;
        font-style: italic;
	text-align : bottom;
        left : 10%;
        top : 120%;
        
}

.p2 {
color : red;
}
