body{
  margin:0;
  padding:0;
  background-image: url("imageb.jpg");
  background-size: cover;
}
header{

  font-family: Trattatello, fantasy;
}

.signUpPage{
  width: 320px;
  height: 420px;
  background-color: transparent;
  border-radius: 10%;

  position: absolute;
  top: 20%;
  left: 40%;
}

.formulaire{
  padding: 0;
  position: absolute;
  top: 20%;
  left: 25%;
}
#signUp{
  position:absolute;
  right:30%;
}
